.Footer {
    background-color: rgb(0, 0, 0);
    height: 100px;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
   
}

@media only screen and (max-width: 950px) {
    .Footer {
      
        height: 70px;
        margin: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        width: 100%;
        font-size: 14px;
       
    }
    

}