.Navbar {
  color: white;
 
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  line-height: 21px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
  /* justify-content: space-between; */
  transition: transform 0.3s ease 0s;
  z-index: 200;

  position: fixed;
  width: calc(100% - 24%); 
    padding: 0px 12%; 
  background-color: rgba(238, 238, 238,0.5);
  background-color: rgba(0, 0, 0, 1);
  z-index: 1000;
  /* background: rgba(22, 21, 23, 1);  */
  
  height: 80px;
  background: rgba(22, 21, 23, 0.8);
  background-color: rgba(15, 15, 15, 0.5); ;
  /* box-shadow: rgba(22, 21, 23, 0.1) 0px 0px 15px 0px; */
  backdrop-filter: blur(20px);

}

.NavbarWork {
  color: rgb(0, 0, 0);
 
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  line-height: 21px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
  /* justify-content: space-between; */
  transition: transform 0.3s ease 0s;
  z-index: 200;

  position: fixed;
  width: calc(100% - 24%); 
    padding: 0px 12%; 
  background-color: rgba(238, 238, 238,0.5);
  background-color: rgba(0, 0, 0, 1);
  z-index: 1000;
  /* background: rgba(22, 21, 23, 1);  */
  
  height: 80px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(22, 21, 23, 0.1) 0px 0px 15px 0px;
  backdrop-filter: blur(20px);
  
}




.NavBarBox {
  width: calc(100% - 0px);
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
 
}


.active{
  
    text-decoration: none;
    color: #CF0A0A;
    font-weight: bold;
    align-self: bottom;
    border-radius: 3px;
    height: calc(100% - 4px) ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 100%; */
  
    font-family: 'Gilroy', sans-serif;
    cursor: pointer;
    font-size: 18px;
 

}
.notActive { 
 
    text-decoration: none; 
    text-decoration: none;
    height: 100%;
    display: flex;
    /* font-weight: bold; */
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
} 

.notActive:hover{ 
  color: #CF0A0A; 
}

.NavTitle {
  font-weight: bold;
  font-size: 20px;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  /* background-color: red; */
}

.Tick {
  
  width: 17px;
  height: 17px;

}

.TickContainer {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: min-content;
  height: min-content; */
}


.NavItems {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 27%;
    margin: 0px 0px ;
    height: 100%;
    align-items:  baseline;
    display: flex;
    font-size: 18px;
    /* justify-content: center; */
    align-items: center;
    /* background-color: red; */
    /* margin-right: 20px; */
cursor: pointer;
font-weight: bold;

}

.Navitem {
   cursor: pointer;
   font-weight: bold;
   height: 100%;
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
  /* color: red; */
}



.Navitem:hover{
  color: #CF0A0A; 
}

.NavItems2{
  height: 100%;
  display: none;

}

@media only screen and (max-width: 950px) {
  body {
    /* background-color: lightgreen; */

  }

  .active{
     border-bottom:2.5px #CF0A0A solid;
     border-radius: 1.5px;
    height: calc(100% - 2px) ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: green; */
    width: 100%;
    /* background-color: white; */
  }

  .notActive {
    color: #000000;
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Navbar {
    height: max-content;
  }

  .NavBarBox {
    justify-content: space-between;
    height:60px;
    /* background-color: red; */
    
  }
  
.NavTitle {
  font-weight: bold;
  margin: 0px 20px ;
  font-size: 18px;
}
.Tick {
  /* margin: 10px; */
  margin-left: 5px;
  width: 14px;
}


.Resume{
  width: 80px;
  color: white;
  background-color: #CF0A0A;
  text-align: center;
  line-height: 32px;
  margin: 0px 20px ;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
}

  .NavItems{
    display: none;
  
    
  }
  .NavItems2{
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 13px;
    align-items:  baseline;
    height: 35px;
    /* background-color: green; */
    /* background-color: green; */
  }
}

/* @media only screen and (min-width: 600px) {
  body {
    background-color: lightblue;
  }
} */

