.Projects {
   
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: calc(100% - 24%);
    padding: 150px 12%;

}

.ProjectsHeading {
   
    font-size: 100px; 
    letter-spacing: -3.15px; 
    line-height: 96px; 
    white-space: pre-line; 
    font-weight: bold; 
    text-align: left; 
    color: #000000; 
    opacity: 0.9; 
    margin-bottom: 50px;  
    margin-top: 50px; 

  
}

.ProjectsSubHeading {
   
    color: #000000;
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    white-space: pre-line;
    font-weight: bold;
    margin-bottom: 50px;
    width: 100%;
}



.ProjectsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 0%);
    flex-wrap: wrap;
}

.ProjectsImage {

    width:calc(40% - 40px);
    aspect-ratio: 4/2.2;
    object-fit: cover;
    margin: 20px;
    overflow: hidden;
    border-radius: 5px;
}

.ProjectCard {

    width: calc(100% - 20px);
    color:#000000;
    font-weight: 100;
    text-align: left;
    line-height: 22px;
    font-weight: 100;
    word-spacing: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 2px;
    padding: 30px 10px;
    height: max-content;
    border-bottom: 1px  rgba(238, 238, 238,0.8) solid;
    border-top: 1px  rgba(238, 238, 238,0.8) solid;
}

.ProjectCard:hover{
    transition: scale 0.3s;
    scale: 1.005;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.ProjectCardText {
    width:calc(60% - 40px);
    display: flex;
    flex-direction: column;
    height: max-content;
    justify-content: space-around;
    margin: 20px 20px;
    font-weight: 500;
}

.ProjectName {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin: 20px 10px;

}

.ProjectDescription {
    margin:20px 10px;
}

.ProjectCardButtons {

    display: flex;
    flex-direction: row;
    align-items: center;
    margin:20px 10px;

}

.Git {

    color: #000000;
    font-weight: bold;
    font-size: 18px;
    margin-right: 50px;
    cursor: pointer;

}

.Git:hover{
    scale: 1.02;
}

.Explore {

    color: #CF0A0A;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: max-content;
    color: rgb(0, 0, 0);
    background-color: #CF0A0A;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    display: inline-flex;
    font-size: 18px;
    letter-spacing: 0.4px;
    line-height: 30px;
    border-radius: 40px;
    padding: 8px 25px;

}

.Explore:hover{

    transition: transform 0.5s ease;
    background-color: #000000;
    color: #ffffff;
    transform: scale(1.05);
}

.ExploreIcon {

    width: 20px;
    margin-left: 5px;

}

.ExploreIcon:hover{

    scale: 1.02;

}






@media only screen and (max-width: 950px) {
   
    .Projects { 
        width: calc(100% - 12%); 
        padding: 100px 6%; 
    }

    .ProjectsHeading { 
        margin-bottom: 30px;
        font-size: 65px;
        letter-spacing: -1.95px;
        line-height: 58px;
    }

    .ProjectsSubHeading { 
   
        letter-spacing: 0px;
        line-height: 24px;
        font-size: 14px;
        letter-spacing: 0.2px;
        line-height: 20px;
        font-weight: 500;
        word-wrap: break-word;

    }

    .ProjectsList { 
        display: flex;
        flex-direction:unset;
        justify-content: none;
        align-items: none;
        flex-wrap: wrap;
        width: calc(100% - 0%);
        flex-wrap: wrap;
    }
    

    .ProjectCard { 
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        /* width: calc(100% - 0px);  */
        max-width: calc(50% - 6%);
        /* max-width: 330px; */
        color:#000000; 
        font-weight: 100; 
        text-align: left; 
        line-height: 22px; 
        font-weight: 100; 
        word-spacing: 1px; 
        display: flex; 
        flex-direction: column-reverse; 
        justify-content: center; 
        align-items: center; 
        background-color: #ffffff; 
        border-radius: 5px; 
        padding: 0px 0px; 
        /* background-color: red; */
        height: max-content; 
        margin: 15px;

        border-bottom: 1px  rgba(238, 238, 238,0.8) solid; 
        border-top: 1px  rgba(238, 238, 238,0.8) solid; 

    }

    .ProjectsImage {

        width:calc(100% - 0px);
        aspect-ratio: 4/2.2;
        object-fit: cover;
        margin: 0px;
        overflow: hidden;
        border-radius: 0px;
        border-top-right-radius : 5px; 
        border-top-left-radius : 5px; 
    }

    

    .ProjectCardText {
        width:calc(100% - 16px);
        display: flex;
        flex-direction: column;
        height: max-content;
        justify-content: space-around;
        margin: 0px 0px;
        font-weight: 500;
        padding: 10px 8px;
    }

    .ProjectName {
        font-size: 30px;
        font-weight: bold;
        color: #000000;
        margin: 0px 0px;
        /* background-color: gray; */
        padding: 10px 8px;
        font-size: 20px;
        letter-spacing: 0px;
        line-height: 22px;
    
    }

    .ProjectDescription {
        padding: 0px 8px;
        margin: 0px;
        font-size: 14px;
        line-height: 15px;
        height: 15px;
        overflow: hidden;
    }

    .ProjectCardButtons {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        /* margin:15px 0px; */
        /* width: 100%; */

        padding: 10px 8px;
    
    }

    .Git {

        color: #000000;
        font-weight: bold;
        font-size: 18px;
        margin-right: 50px;
        cursor: pointer;
        /* background-color: gray; */
        font-size: 14px;
        letter-spacing: 0.4px;
        line-height: 30px;
        border-radius: 40px;
        /* padding: 3px 20px; */
    
    }

    .Explore {

        font-size: 14px;
        letter-spacing: 0.4px;
        line-height: 30px;
        border-radius: 40px;
        padding: 3px 20px;
    
    }

    
.ExploreIcon {

    width: 14px;
    margin-left: 5px;

}
    
}


@media only screen and (max-width: 720px) {
 
    .ProjectsList {
        display: flex;
        flex-direction:column;
        justify-content: none;
        align-items: none;
        flex-wrap: wrap;
        width: calc(100% - 0%);
        flex-wrap: wrap;
    }
    
    
    .ProjectCard {
        
        width: calc(100% - 0px); 
        max-width: calc(100%);
        /* max-width: 330px; */
        color:#000000; 
        font-weight: 100; 
        text-align: left; 
        line-height: 22px; 
        font-weight: 100; 
        word-spacing: 1px; 
        display: flex; 
        flex-direction: column-reverse; 
        justify-content: center; 
        align-items: center; 
        background-color: #ffffff; 
        border-radius: 5px; 
        padding: 0px 0px; 
        /* background-color: red; */
        height: max-content; 
        margin: 0px;
        margin-bottom: 20px;

        border-bottom: 1px  rgba(238, 238, 238,0.8) solid; 
        border-top: 1px  rgba(238, 238, 238,0.8) solid; 

    }
}