

.Skills {
    width: 100%;
    height: max-content;
    /* min-height: 500px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: red;
    background-color: #EEEEEE;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 70px;
    /* background-image: linear-gradient(to right, #EEEEEE , #DC5F00); */
}

.SkillsTitle {
    font-size: 40px;
    font-weight: bold;
    color: #CF0A0A;
    margin: 50px 0px 0px 0px;
}

.SkillsAboutMe {
    color:#000000;
    font-weight: 100;
    text-align: left;
    margin: 50px 100px 50px 100px;
    line-height: 22px;
    font-weight: 100;
    word-spacing: 1px;
    /* font-size: 18px; */
    /* min-width: 900px; */
    
}

.SkillsNames {
     height: 200px;
     /* width: 100vw; */
     width: calc(100vw - 10%);
     color: black;
     /* background-color: red; */
     margin: 0px 0px 90px 0px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: visible;
   
}

.SkillsNamesCard {
    width: 110px;
    height: 145px;
    background-color: rgb(255, 255, 255);
    margin: 8px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    box-shadow: #DC5F00 0px 4px 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    color: #CF0A0A;
}

.SkillsNamesCard:hover {
    scale: 1.1;
    transition: scale 0.3s;
    cursor: pointer;
}

.SkillsNamesCardImage {
    width: 40px;
    height: 40px;
    object-fit:fill;
    background-color:#EEEEEE;
    /* filter: blur(8px); */
    backdrop-filter: blur(10px);
    padding: 25px;
    margin: 10px;
    border-radius: 2.5px;
}

.SkillsNamesCardText {
    font-weight: 900;
    letter-spacing: 1px;
    margin: 5px;
    font-size: 13px;
}

.arrow {
    width: 12px;
    margin: 20px;
    opacity: 0.5;
    cursor: pointer;
    
}

.arrow:hover {
    opacity: 10;
}

.SkillsCardList {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
    /* justify-content: center; */
    align-items: center;
    scroll-behavior: smooth;
   scroll-snap-type:inline mandatory;
   overscroll-behavior-inline: contain;
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  
}

.SkillsCardList::-webkit-scrollbar {
    display: none;
  }



.snaps {
    scroll-snap-type: inline mandatory;
}

.EmptyBox {
    /* background-color: red; */
    width: 100px;
    height: 100%;
}


@media only screen and (max-width: 950px) { 
    .Skills {
        width: 100%;
        height: max-content;
        /* min-height: 500px; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
        background-color: red;
        background-color: #EEEEEE;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
        /* background-image: linear-gradient(to right, #EEEEEE , #DC5F00); */
    }
    
    .SkillsTitle {
        font-size: 18px;
        font-weight: bold;
        color: #CF0A0A;
        margin: 30px 0px 0px 0px;
    }
    
    .SkillsAboutMe {
        color:#000000;
        font-weight: 100;
        text-align: left;
        margin: 30px 20px 30px 20px;
        line-height: 22px;
        font-weight: 100;
        word-spacing: 1px;
        /* font-size: 18px; */
        /* min-width: 900px; */
        font-size: 12px;
        
    }
    
    .SkillsNames {
        /* background-color: red; */
         height: 160px;
         width: 100vw;
         /* width: calc(100vw - 10%); */
         color: black;
         /* background-color: red; */
         margin: 0px 0px 30px 0px;
        display: flex; 
        flex-direction: row;
        align-items: center;
        justify-content: center;
        overflow: visible;
       
    }
    
    .SkillsNamesCard {
        width: 80px;
        height: 100px;
        background-color: rgb(255, 255, 255);
        margin: 3px;
        border-radius: 5px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        box-shadow: #DC5F00 0px 4px 12px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        color: #CF0A0A;
    }
    
    .SkillsNamesCard:hover {
        scale: 1.1;
        transition: scale 0.3s;
        cursor: pointer;
    }
    
    .SkillsNamesCardImage {
        width: 20px;
        height: 20px;
        object-fit:fill;
        background-color:#EEEEEE;
        /* filter: blur(8px); */
        backdrop-filter: blur(10px);
        padding: 18px;
        margin: 10px;
        border-radius: 2.5px;
    }
    
    .SkillsNamesCardText {
        font-weight: 900;
        letter-spacing: 1px;
        margin: 5px;
        font-size: 10px;
    }
    
    .arrow {
        /* display:none; */
        width: 10px;
        margin: 20px;
        opacity: 0.5;
        cursor: pointer;
        
    }
    
    .arrow:hover {
        opacity: 10;
    }
    
    .SkillsCardList {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden;
        height: 100%;
        /* justify-content: center; */
        align-items: center;
        scroll-behavior: smooth;
       scroll-snap-type:inline mandatory;
       overscroll-behavior-inline: contain;
       -ms-overflow-style: none;  /* IE and Edge */
       scrollbar-width: none;  
    }
    
    .SkillsCardList::-webkit-scrollbar {
        display: none;
      }
    
    
    
    .snaps {
        scroll-snap-type: inline mandatory;
    }
    
    .EmptyBox {
        /* background-color: red; */
        width: 100px;
        height: 100%;
    }
    
}


