

.Skills {

    min-height: 100vh;
    position: relative;
    /* background-image: url('https://web-images.credcdn.in/_next/assets/images/home-page/deserve-more-bg.jpg');
    background-image: url('https://images.pexels.com/photos/6783241/pexels-photo-6783241.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
    background-size: cover; 
    flex-direction: column; 
    justify-content: center; 
    display: flex; 
    width: calc(100% - 24%); 
    padding: 100px 12%; 
    object-fit:fill;
    /* background-color: rgb(90, 30, 203); */
    /* background: -webkit-radial-gradient(left top, rgb(154, 84, 235), rgb(97, 42, 211)); */
    /* background-color: rgb(238, 47, 76);
    background-color: rgb(26, 97, 233); */
background-color: rgb(15, 15, 15); 
 background-image: url('https://web-images.credcdn.in/_next/assets/images/home-page/hero-bg.png'); 
    /* border-bottom: 2px  rgba(238, 238, 238,0.5) solid; */
    /* background: -webkit-radial-gradient(left top, rgb(154, 84, 235), rgb(97, 42, 211)); */
}

.SkillsBackground {
     /* The image used */
  background-image: url("https://images.pexels.com/photos/4119179/pexels-photo-4119179.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-image: url('https://web-images.credcdn.in/_next/assets/images/home-page/hero-bg.png');
  /* Add the blur effect */
  filter: blur(0px);
  /* -webkit-filter: blur(8px); */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  object-fit:cover;
  z-index: -100;
  /* Full height */
  height: 100%; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.SkillsTitle {
    /* font-size: 40px; */
    font-weight: bold;
    color: #CF0A0A;
    color: rgb(255, 255, 255);
    /* margin: 50px 100px 0px 100px; */
    text-align: left;
    /* width: calc(100% - 10%); */
    /* max-width: 800px; */
    font-size: 100px;
    letter-spacing: -3.15px;
    line-height: 96px;
    margin-bottom: 40px;
  
}

.Me{
    color: #CF0A0A;
}

.SkillsAboutMe {

    color: #ffffff;
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    white-space: pre-line;
    /* max-width: 850px; */
    font-weight: bold;
}

.Resume{
    /* width: 100px; */
    width: max-content;
    color: rgb(0, 0, 0);
    background-color: #CF0A0A;
    /* background-color: white; */
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 40px;
    display: inline-flex;
    font-size: 24px;
    letter-spacing: 0.4px;
    line-height: 30px;
    border-radius: 40px;
    padding: 20px 65px;
    /* margin-bottom: 40px; */
  }

  .Resume:hover{
    transition: transform 0.5s ease;
    background-color: #ffffff;
    color: #000000;
    transform: scale(1.05);
  }



.SkillsNames {
   
    width: calc(100% - 24%);
    padding: 60px 12%;
    background-color: #f8f8f8;
    color: rgb(33, 36, 38);
    /* width: calc(100% - 200px); */
    position: relative;
   height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
   /* background-color: red; */
  
}
.SkillIcon {
    width: 70px;
    /* height: 40px; */
    margin-right: 40px;
    object-fit: contain;
    /* margin-top: 40px; */
    display: flex;
}

.SkillNamesHeading {
    display: flex;
    align-items: flex-end;
    /* background-color: #CF0A0A; */
}

.SkillNamesHeadingText{
    font-size: 24px;
    /* font-family: gilroy-semibold; */
    letter-spacing: 0px;
    line-height: 38px;
    white-space: pre-line;
    font-weight: 400;
    
}



.SkillsCardList {
   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    height: max-content;
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    /* font-weight: bold; */
    /* justify-content: space-between; */
    /* background-color: #CF0A0A; */
    
}

.SkillsNamesCardText {
    font-size: 19px;
    font-weight: bold;
    margin-right: 25px;
    line-height: 40px;
}


/* 
@media only screen and (max-width: 950px) { 
    .Skills {
        width: 100%;
        height: max-content;
     
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
       
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
      
    }
    
    .SkillsTitle {
        font-size: 18px;
        font-weight: bold;
        color: #CF0A0A;
        margin: 40px 0px 0px 0px;
    }
    
    .SkillsAboutMe {
        color:#000000;
        font-weight: 100;
        text-align: left;
        margin: 40px 20px 30px 20px;
        line-height: 22px;
        font-weight: 100;
        word-spacing: 1px;
       
        font-size: 12px;
        
    }
    
    .SkillsNames {
     
         height: 160px;
         width: 100vw;
       
         color: black;
       
         margin: 0px 0px 30px 0px;
        display: flex; 
        flex-direction: row;
        align-items: center;
        justify-content: center;
        overflow: visible;
       
    }
    
    .SkillsNamesCard {
        width: 80px;
        height: 100px;
      
      
        display: flex;
      
        align-items: center;
        flex-direction: column;
       
        color: #CF0A0A;
    }
    
    .SkillsNamesCard:hover {
       
    }
    
    .SkillsNamesCardImage {
        width: 25px;
        height: 25px;
        object-fit:fill;
      
        backdrop-filter: blur(10px);
        padding: 20px;
        margin: 5px;
        border-radius: 2.5px;
    }
    
    .SkillsNamesCardText {
        font-weight: 900;
        letter-spacing: 1px;
        margin: 5px;
        font-size: 10px;
    }
    
    .arrow {
     
        width: 10px;
        margin: 20px;
        opacity: 0.5;
        cursor: pointer;
        
    }
    
    .arrow:hover {
        opacity: 10;
    }
    
    .SkillsCardList {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden;
        height: 100%;
      
        align-items: center;
        scroll-behavior: smooth;
       scroll-snap-type:inline mandatory;
       overscroll-behavior-inline: contain;
       -ms-overflow-style: none; 
       scrollbar-width: none;  
       padding: 0px 10px 0px 10px;
    }
    
    .SkillsCardList::-webkit-scrollbar {
        display: none;
      }
    
    
    
    .snaps {
        scroll-snap-type: inline mandatory;
    }
    
    .EmptyBox {
     
        width: 100px;
        height: 100%;
    }
    
}

 */
